<<<<<<< Updated upstream
.img-container{
    width: 100%;
    height:70vh;
    border:1px solid;
    margin: top 10rem;
}
.elephant-couple{
    width: 90%;
    height:70vh;
    border:1px solid;
    margin-left: 50%;
    transform: translateX(-50%);
    background-image: url("/images/ForestRock Imgs/ForestRockRooms/img24.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
=======


.img-container{
width: 100%;
height: 70vh;
border: 1px solid;
margin-top: 10rem;
}
.elephant-couple{
    width: 90%;
    height: 70vh;
    border: 1px solid;
    margin-left: 50%;
    transform: translateX(-50%);
    background-image: url("/images/ForestRock Imgs/ForestRockRooms/elephantCouple.jpg");
    background-position: center;
    background-repeat: no-repeat;

}
.home-main_text-container{
    margin-top: 15rem;
}
.border-bottom{
     border-radius: 1px solid;
     width: 59rem;
}
#text-width{
    width:max-content;
}

.content {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    letter-spacing: var(--letter-space-1);
    color: #adadad;
    /* border: 1px solid; */
    font-weight: 200;
  }
.about-gallery {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: justify;
  }
>>>>>>> Stashed changes
