
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    border-bottom: 3px solid white;
    padding: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: #00FFFF;
    color: black;
    border-radius: 5px;
}

.cato {
    background-color: #d71212;
    color: black;
    border-radius: 5px;
}

.nav-links a.active:hover {
    background-color: #00FFFF;
}
.nav-divider {
    border: none;
    height: 1px;
    background-color: white;
    margin: 0;
    width: 100%;
}
.body{
    margin: 0;
    height: 50%;
    align-items:center;
    display: flex;
    justify-content:center ;

}
.container{
display: flex;
flex-direction:column;
align-items: flex-end;
justify-content: center;
text-align: center;
padding: 10px;  
margin-top: 10vh;
}
img{
   height: auto; 
}
.item{
    margin-top: 5px;
    color: aliceblue;
    font-size: large;
}