


.flex-container {
    display: flex;
    
    
  }
  
  .flex-container > div {
    background-color: #57de7b;
    width: 300px;
    margin: 80px;
    text-align: center;
    line-height: 270px;
    font-size: 1px;
    
  }
  .flex-container > h1{
    object-position: 40cap;
    text-align:center ;
    color: #57de7b;
  }

  .flex-container >    h1{

  color: black;
  
  padding: 10px;
  margin: 15px;
  position: relative;
  
  top: 90px;
  left: -5px;
  
  }
  #fx{

    background-color: #57de7b;
    width: 1450px;
    margin: 100px;
    text-align: center;
    line-height: 100px;
    top: -20px;

  }

  #pr{

  color: rgb(0, 0, 0);
  line-height: 1.4;

  }






 


