
* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
  
.Background_img{
height: 78.5rem;
border: 1px solid red;
width: 100%;
margin-top: 12rem;


}
[alt="Presidential_suit"]{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);

    border: 1px solid red;
}